<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.excell.lms.lmsautovista">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activity.LoginActivity" />
        <activity
            android:name=".View.Activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".View.Activity.CallingTaskActivity" />
        <activity android:name=".View.Activity.NewLeadDashboardActivity" />
        <activity android:name=".View.Activity.UnassignedDashboardLeadActivity" />
        <activity android:name=".View.Activity.CallTodayDashboardActivity" />
        <activity android:name=".View.Activity.PendingNewLeadActivity" />
        <activity android:name=".View.Activity.PendingFollowUpDashboardActivity" />
        <activity android:name=".View.Activity.DashboardCountDetailActivity" />
        <activity android:name=".View.Activity.CustomerDetailActivity" />
        <activity android:name=".View.Activity.TrackerDetailActivity" />
        <activity android:name=".View.Activity.CustomerDetailsActivity" />
        <activity android:name=".View.Activity.ChangePasswordActivity" />
        <activity android:name=".View.Activity.FollowUpDetailsActivity" />
        <activity android:name=".View.Activity.AddFollowUpActivity" />
        <activity android:name=".View.Activity.SearchLeadViaContactNoActivity" />
        <activity android:name=".View.Activity.CheckFlowSearchActivity" />
        <activity android:name=".View.Activity.EditCustomerListDetailActivity" />
        <activity android:name=".View.Activity.EditCustomerDetailActivity" />
        <activity android:name=".View.Activity.ViewMessageActivity" />
        <activity android:name=".View.Activity.SubmitMessageActivity" />
        <activity android:name=".View.Activity.DailyReportDetailActivity" />
        <activity android:name=".View.Activity.DseWiseReportDetailActivity" />
        <activity android:name=".View.Activity.NavigationDrawer" />
        <activity android:name=".View.Activity.POCStockListDetailsActivity"></activity>
    </application>

</manifest>